body{
    font-family: 'Droid Sans', sans-serif;
background-color: #7E4C32;
}
.jumbotron{
    background-image: url("../images/beehouse.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center top;
    text-align: center;
    color:white;
    padding-top: 72px;
    padding-bottom: 72px;
}
.navbar{
margin:0px;
background-color: #292018;
}
.navbar-inverse .navbar-brand:hover, a:hover, a {
    color: #8f9fa6;
}
.navbar-inverse .navbar-brand{
    color:white; 
}
h1{
text-shadow: rgba(150, 150, 150, 0.6)0px 3px 9px;
}
h2, p, ul li {
    color:white;
    text-align: center;
}
ul{
    -webkit-padding-start:0px;
    padding:0px;
}
ul li{
    list-style-type: none;
    line-height: 24px;
}

h3{
    text-align: center;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-family: 'Sue Ellen Francisco', cursive;
    color: #292019;
}
h4 {text-align:center; color: #fff; font-weight: 600; margin: 30px 0px;}
.border{
    border: solid 1px white;

}
ul li a:hover{
    color:white;
    text-decoration: none;
}
ul li a:active{
    color:white;
    text-decoration: none;
}
.blurb{
    margin-bottom: 30px;
}
.rowspace{
    margin-top: 30px;
}
img{
    padding:5px;
}
#strength{
    text-align: center;
    /*border-bottom: solid;
    border-bottom-color:#292019;*/
    margin-bottom: 24px;
}
.fa-coffee:hover {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}
#standard{
    color: #8B573B;
}
#strong {
    color: #59352E;
}
#mypref {
    color: #292019;
}
.ratio input.form-control{
    border:0px;
    background-color:#7E4C32;
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    border-bottom: solid 1px white;
    border-radius: 0px;
    text-align: center;
    width: 100%;
    font-size:50px;
    height: 72px;
    padding: 6px 12px 6px 32px;
    color: #fff;
    margin-bottom: 15px;
}
#waterField {
    border-bottom: solid 1px #292019;
    color: #292019;
}
.ratio input:focus{
    box-shadow: inset 0 0px 0px rgba(0,0,0,0),0 0 8px rgba(0,0,0,0);
}
.ratio input::-webkit-input-placeholder {color: #8b573b;}
button {margin: 30px 0px;}
.ratio {margin-bottom: 24px; text-align: center; color: #292019;}
.dropdown-menu li {color: #292019;}
.dropdown-menu{min-width: 60px;}

#cpour, #bloom, #filter{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#filter {background-image: url("../images/filterpour.jpg");}
#cpour {background-image:url("../images/pour.jpg");}
#bloom {background-image:url("../images/bloom.jpg");}


/* |||||||||||||||||||||||||||||||||||||| MEDIA QUERIES |||||||||||||||||||||||||||||||||||||||||||||*/
/* Medium devices (desktops, 992px and up) */
        @media (min-width: 992px) {
            .border {border: 0px; margin: 30px; padding-bottom: 15px;}
            h3{font-size: 42px;}
            .border p {margin-top: 36px;}
            .fa-4x {font-size: 6em;}
        }